/* restyling */

body {
    background-color: black;
    color: white;
}

.container input[type="text"] {
    background-color: black;
    text-align: right;
    width: 100%;
}

input.invalid, input.invalid:focus {
    border: 1px solid #b00;
}

input.outofdate, input.outofdate:focus {
    border: 1px solid #b8a;
}

div#config-twelve-hour label {
    display: inline;
    padding-left: 1rem;
}

.container button {
    color: #eee;
}

div.row.clock {
    padding-top: 2rem;
    height: 10vh;
}

div.row.actions, div.row.remaining { 
    height: 25vh;
}

div.row.actions button {
    height: 20vh;
    font-weight: 300;
    font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;
    padding: 0px;
    margin-bottom: 2rem;

}

div.row.log-download button {
    width: 100%;
}

.boxed {
    background-color: #eee;
    border-radius: 3rem;
}

h1.clock {
    text-align: center;
}

h1.wave {
    color: #ccf;
}

.target {
    margin-bottom: 0px;
}

div.row.actions {
    margin-bottom: 4rem;
}

div.row.config {
    border-top: 1px white solid;
    margin-top: 1rem;
    padding-top: 1rem;
}

div.next-wave {
    color: #aaf;
}

div.resume {
    color: #55c;
}

div.row.remaining {
    text-align: center;
}

a.remaining {
    color: #aaf;
}

div.grace {
    color: #8b8;
}

table.log thead {
    font-style: italic;
}

table.log {
    width: 100%;
}

div.footer {
    padding-top: 5vh;
    font-size: 50%;
    text-align: center; 
}

div.footer a {
    text-decoration: none;
}

/* utility classes */

.u-clear-bottom {
    margin-bottom: 3rem;
}

.u-clear-bottom-short {
    margin-bottom: 1rem;
}

.u-center {
    text-align: center;
}
